* {
  margin: 0;
  padding: 0;
  list-style: none;
  /*box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "muli", sans-serif;*/
}

html, body, header, main, footer {

}

body {
  color: #f0f0f0;
}

.container {
  width: 570;
  margin: 0 auto;
}

/* header */
header {
  height: auto;
  background-color: #171717;
  color: #E81123;
  text-align: center;
}
.header-logo {
  height: 50px;
  padding: 15px;
}

.header-logo a img {
  width: 84px;
}

nav li {
  width: 150px;
  border: 2px solid #a0a0a0;
  text-align: center;
}

/* main */
main {
  background-color: #171717;
  color: #A0A0A0;
  text-align: center;
}

main img {
  width: 350px;
}

/* footer */
footer .copyright {
  background-color: #202020;
  padding: 5px 0;
  text-align: center;
  color: #f0f0f0;
}
